<div class="container margin-top-20">
	<mat-card>
		<mat-card-title>
            Bem-vindo ao Sistema de Controle e Logística da Onion S.A.
        </mat-card-title>
		<mat-card-subtitle>
			Em nossa jornada pela inovação e excelência na indústria de eletrônicos, apresentamos uma ferramenta revolucionária desenvolvida para atender às necessidades críticas de controle, manutenção de vendas e logística da Onion S.A.
            O sistema foi projetado para simplificar o gerenciamento de pedidos e fornecer insights valiosos por meio de uma interface intuitiva e poderosa. 
        </mat-card-subtitle>
        
	</mat-card>
    <mat-card>
        <mat-card-content>
            <img class="image" src="assets/img/download.jpg" alt="">    
            <mat-card-actions>
                <button mat-flat-button color="primary" onclick="DownloadFile()">Planilha Modelo</button>
            </mat-card-actions>
		</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <img class="image" src="assets/img/upload.jpg" alt="">    
            <mat-card-actions>
                <button mat-flat-button color="accent" onclick="ImportFile()">Upload</button>
            </mat-card-actions>
		</mat-card-content>
    </mat-card>
</div>