mat-card {
    width: 80%;
    height: 50%;
    margin: 1rem auto 0 auto;
    text-align: center;
}
.image{
    height: 20%;
    width: 40%;
}

#buttonupload{
    align-content: end;
}
#buttondownload{
    align-content: start;
}